# directories for temporary storage / user customisation
scripts/
temp/
plots/
UQ_output/
srcmods*
run_logs_archive/
UQ_output/
*_postprocessed.txt
__pycache__/

# files created by OLMT executions
run.*
*.pyc
*.run.o*
slurm-*.out
mcsamples*.txt

# user defined files
temp*
test*